.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 10px;
  padding: 18px 20px;
  border-radius: 100px;
}

.sidebar__searchContainer > .MuiSvgIcon {
  color: gray;
  padding: 10px;
}

.sidebar__searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 32px;
}

.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow-y: scroll;
}
